// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    overflow-x: hidden;
}

.active-menu{
    font-weight: 700;
}

.active-sidebar{
    font-weight: 700;
    color: #345EC9;
    background-color: #F3F9FE;
    border-left: solid 4px #345EC9 ;
}

.sidebar-item{
    border-left: solid 4px transparent ;
}

.sidebar-item:hover{
    background-color: #F3F9FE;
}

.menu-item{
    display: block;
    padding: 0.5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-login{
    background: transparent;
    border: 3px solid #000;
    width: 120px;
    height: 40px;
    font-weight: 700;
}

.segment{
    min-height: 100vh;
}

.left-segment-4 h2{
    font-size: 40px;
    font-weight: 800;
}

.product-card{
    justify-content: center;
    border: 2px solid #142362;
    border-radius: 20px;
    overflow: hidden;
  }
  
.text-header {
    font-weight: 700;
    color: #142362;
    font-family: 'Mulish', sans-serif;
}

.text-area {
    white-space: pre-line;
}


.package-price {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    color: #345EC9;
}

.float-action-btn{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:60;
}

.icon-whatsapp{
    margin-top: 3px;
    width: 28px;
    margin-left: 3px;
}

@media screen and (min-width: 780px) {
    .h1-text {
        font-size: 8vw;
        font-weight: 900;
    }

    .h1-indi{
        font-size: 20vw;
        font-weight: 900;
        line-height: 20vw;
    }

    .w-md-30 {
        width: 30%;
    }

    .w-md-75 {
        width: 75%;
    }

    .h-md-60-vh {
        height: 60vh;
    }
}


@media screen and (max-width: 780px) {
    .h1-text {
        font-size: 10vw;
        font-weight: 900;
    }

    .h1-indi{
        font-size: 35vw;
        font-weight: 900;
        line-height: 25vw;
    }

    .h-md-60-vh {
        height: 40vh;
    }

    .w-md-30 {
        width: 100%;
    }
}