// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    overflow-x: hidden;
}

.active-menu{
    font-weight: 700;
}

.active-sidebar{
    font-weight: 700;
    color: #345EC9;
    background-color: #F3F9FE;
    border-left: solid 4px #345EC9 ;
}

.sidebar-item{
    border-left: solid 4px transparent ;
}

.sidebar-item:hover{
    background-color: #F3F9FE;
}

.menu-item{
    display: block;
    padding: 0.5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-login{
    background: transparent;
    border: 3px solid #000;
    width: 120px;
    height: 40px;
    font-weight: 700;
}

.segment{
    min-height: 100vh;
}

.left-segment-4 h2{
    font-size: 40px;
    font-weight: 800;
}

@media screen and (min-width: 780px) {
    .h1-text {
        font-size: 8vw;
        font-weight: 900;
    }

    .h1-indi{
        font-size: 20vw;
        font-weight: 900;
        line-height: 20vw;
    }

}


@media screen and (max-width: 780px) {
    .h1-text {
        font-size: 10vw;
        font-weight: 900;
    }

    .h1-indi{
        font-size: 35vw;
        font-weight: 900;
        line-height: 25vw;
    }
}